.title {
  font-size: 2em;
  font-weight: bold;
  font-family: Verdana;
  text-align: center;
}

#table {
  margin: 0 auto;
  width: 50%;
  border-collapse: collapse;
  font-family: Verdana;
  margin: 50px auto;
  border: 8px outset #c30e0e;
}

th, td {
    padding: 10px 30px;
    border: 2px solid #000000;
}
